<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css.css">
    
</head>
<body>
    <div class="main-grid" >
        
        <div class="navbar">
            <ul>
                <li class="brand" >Home</li>
                <li class="nav-search">
                    <input type="text">
                    <input type="submit" value="search">
                </li>
                <li class="nav-search">
                    <button class="btn" >Login</button>
                    <button class="btn">Sign Up</button>
                </li>
            </ul>
        </div>

        
        <div id="leftbar" class="leftbar" >
            <ul class="lefbar-one" >
                <li>Home</li>
                <li>Pooular</li>
                <li>Most Liked</li>
                <li>Recent</li>
            </ul>
        </div>
        
        <div class="main">
            <div class="profile-box">
                
                    <div class="profile-card">
                        <form action="">   
                            <div class="cover-box">
                                <img src="banner.png" alt="" class="cover-pic">
                                <label for="cover" class="cover-label">Edit</label>
                                <input type="file" id="cover">
                            </div>
                            <div class="bio-box">
                                <img src="user.png" alt="" class="bio-pic">
                                <label for="bio" class="bio-label">Edit</label>
                                <input type="file" id="bio">
                            </div>
          
                            <div class="bio-data">
                                <label for="name" id="Name">User Name</label>
                                <input type="text" name="" id="name">
                                
                                <label for="email">Email</label>
                                <input type="text" name="" id="email" value="">
                                
                                <label for="name">label</label>
                                <input type="text" name="" id="">
                                
                                <label for="name">label</label>
                                <input type="text" name="" id="">
                                
                                <label for="name">label</label>
                                <input type="text" name="" id="">
                            
                            </div>


                        </form>
                    </div>
                
            </div>
        </div>
    </div>
    <script src="myjs.js" ></script>
</body>
</html>